[user]
	email = hielkewalinga@gmail.com
	name = Hielke Walinga
[rerere]
	enabled = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesFile = ~/.gitignore
[pull]
	rebase = false
[branch]
	autoSetupMerge = always
