[user]
	email = hielkewalinga@gmail.com
	name = Hielke Walinga
[rerere]
	enabled = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesFile = ~/.gitignore
[pull]
	rebase = false
[branch]
	autoSetupMerge = always
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[oh-my-zsh]
	hide-status = 1
	hide-dirty = 1
	hide-status = 0
	hide-dirty = 1
	hide-dirty = 0
	hide-status = 0
	hide-dirty = 0
	hide-status = 0
	hide-status = 1
	hide-dirty = 1
	hide-dirty = 0
	hide-status = 0
[credential]
	helper = store
