[user]
	email = hielkewalinga@gmail.com
	name = Hielke Walinga
[rerere]
	enabled = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesFile = ~/.gitignore
	eol = lf
[pull]
	rebase = false
[branch]
	autoSetupMerge = always
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[oh-my-zsh]
	hide-dirty = 0
	hide-status = 0
[credential]
	helper = store
[push]
	default = matching

[includeIf "gitdir:/hg-aumc/genome-analysis/"]
	[user]
		email = h.walinga@amsterdamumc.nl
		name = Hielke Walinga
